.longerparagraph {
        width:50%;
        margin: 0 auto;
       }
       .shorterparagraph {
        width:25%;
        margin: 0 auto
       }
       .navbar{
        background-color:dodgerblue;
        font-family:'Trebuchet MS'; 
      
       }
       .navdiv {
        display:flex;
        align-items: center;
        justify-content: space-between;
       }
       .navbar ul{
        list-style-type:none;
       }
       li {
        list-style:none;
        display:inline-block;
        margin-right: 20px;
       }

       li a{
        list-style:none;
        display:inline-block;
        margin-right: 20px;
        color:white;
        font-size:18px;
        font-weight:bold;
        margin-right:25px;
       }


        li a:hover, li a:active {
        list-style:none;
        display:inline-block;
        margin-right: 20px;
        background-color: white;
        color:dodgerblue;
        padding: 5px 10px;
        border-radius: 5px;
       }
       
       
        li a:visited {
            background-color: white;
            padding: 5px 10px;
            text-decoration:underline;
            border-radius: 5px;
        }
       
       
       
       button {
        background-color:black; margin-left: 10px; border-radius: 10px; padding: 10px;  width: 90px;
       }
       button a{
        color: white; font-weight: bold; font-size: 15px;
       }
        .fixed {
          position: fixed;
          top:0;
          margin: 0 auto;
          width: 100%;
        }
        .floatimg {
          float: right;
          margin: 0 0 10px 10px;
          border: 1px solid black;
        }
        .floattxt {
          float: left;
          margin: 0 10px 10px 0;
          font-size: 45px;
        }
       .clear {
        clear: left;
        width: 25%;
       }
       body {
        background-color: rgb(170, 242, 247);
        color:  rgb(0, 0, 0);
        font-family:'Trebuchet MS';
       }
       .box {
        width: 1953px;
        height: 50px;
        border: 1px solid black;
        background-color: rgb(9, 155, 240);
        }
         .contactinfo {
          width:50%;
          float: left;
          font-size:10px;
        }

        .contactinfologo  {
          display: block;
          margin: 0 auto;
          float: left;
        }